# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# PyCharm / JetBrains
.idea/
*.iml

# macOS
.DS_Store

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
